<html>
<head>
    <title>Furqan's work 2</title>
</head>

<body>
  <form action="/detect" method = "POST">
    <p><h3>Enter your Credentials and Text for plagarism detection </h3></p>
    <p>User name : <input type = "text" name="username"></p>
    <p>Password : <input type = "password" name="password"></p>
    <p>Enter text 1 Here! <textarea rows="5" cols="50" name = "text1"></textarea></p>
    <p>Enter text 2 Here! <textarea rows="5" cols="50" name = "text2"></textarea></p>
    <p><input type = "submit" value="submit"></p>
  </form>
</body>

</html>
